ion-content{
    background: linear-gradient(to top, #4ac29a, #bdfff3);
}
ion-item{
}
.logo{
    display: flex;
    justify-content: center;
}

.logo img{
    margin: auto 5px;
    float: start;
    width: 400px;
    height: 350px;

}
h2 {
  color:black ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 40px;
}
h5 {
  color:#5816c4 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
h6 {
  color:#C24A72 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: justify;
  font-size: 20px;
}
p {
  color:#000000;
  font-family: 'Helvetica';
  text-align: justify;
  font-size: 17px;

}


